#!/bin/bash
# machine specific code
# hostname requires inetutils
if [ $(hostname) == Magnesium ]
then
wallpaperlocation="$HOME/Wallpapers"
export wallpaperlocation=$wallpaperlocation
fi
if [ $(hostname) == Technetium ]
then
nvidia-settings --load-config-only &
wallpaperlocation="/run/media/kay/D0-P1/Bibliotheken/Bilder/Wallpaper/dump"
export wallpaperlocation=$wallpaperlocation
fi

# XDG_CURRENT_DESKTOP=KDE
# export XDG_CURRENT_DESKTOP
XDG_CONFIG_HOME="$HOME/.config"
export XDG_CONFIG_HOME
picom --experimental-backends -c -f --backend glx --blur-method dual_kawase --blur-strength 10 --config /home/kay/.config/picom/picom.conf &

# set wallpaper
feh --bg-fill --random $wallpaperlocation
