#!/bin/bash
# machine specific code
if [ $(hostname) == Magnesium ]
then
wallpaperlocation="$HOME/Wallpapers"
export wallpaperlocation=$wallpaperlocation
fi
if [ $(hostname) == Technetium ]
then
nvidia-settings --load-config-only &
wallpaperlocation="/run/media/kay/D0-P1/Bibliotheken/Bilder/Wallpaper/dump"
export wallpaperlocation=$wallpaperlocation
fi
XDG_CURRENT_DESKTOP=KDE
export XDG_CURRENT_DESKTOP
XDG_CONFIG_HOME="$HOME/.config"
export XDG_CONFIG_HOME
compton -c -f --backend glx --blur-method kawase --blur-strength 10 --config /home/kay/.config/compton/compton.conf &

# set wallpaper
wallpaper=$(find $wallpaperlocation | grep -v ".stfolder" | shuf -n 1)
feh --bg-fill $wallpaper
export wallpaper=$wallpaper
