configuration {
	modi: "combi";
	show-icons: true;
	terminal: "konsole";
	combi-modi: "window,drun,ssh";
	display-window: "win:";
	display-run: "run:";
	display-ssh: "ssh:";
	display-drun: "run:";
	display-combi: " ";
}
@theme "/home/kay/.config/rofi/carbo.rasi"

/* vim:ft=css
